/*? Appointment */

#section-counter {
    position: relative;
    z-index: 0;
}

#section-counter .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .4;
}

.ftco-section .ftco-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #d4d4d4;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
}

.ftco-section .ftco-primary-title {
    margin-top: 0;
    margin-bottom: 30px;
}

.about-author .desc h3 {
    font-size: 24px;
}

.ftco-section {
    padding: 7em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.contact-form .form-group {
    position: relative;
}

.ftco-appointment {
    background: #252525;
}

.ftco-appointment .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fa5bdd;
    opacity: 1;
}

.appointment-info {
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21);
}

@media (max-width: 767.98px) {
    .appointment-info {
        margin-bottom: 40px;
    }
}

.appointment-info span {
    color: rgba(255, 255, 255, 0.9);
}

.appointment-info .day {
    margin-bottom: 0;
}

.appointment-info h3 {
    font-size: 20px;
    color: #fff;
}

.appointment h3 {
    color: #fff;
}

.appointment-form .form-group {
    position: relative;
}

.appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.appointment-form .form-group .icon span {
    color: white !important;
}

.appointment-form .form-group .select-wrap, .appointment-form .form-group .input-wrap {
    position: relative;
}

.appointment-form .form-group .select-wrap select, .appointment-form .form-group .input-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.appointment-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:focus, .appointment-form .form-control:active {
    border-color: #fff;
}

.appointment-form textarea.form-control {
    height: inherit !important;
}

/*? Appointment */

/*? Часы */

.datepicker td, .datepicker th {
    font-size: 0.875em;
    width: 1.5em;
    height: 1.5em;
}

/*? Часы */