body {
    font-family: "Montserrat", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: rgb(37, 37, 37);
}

span {
    color: #3d3d3d;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #fa5bdd;
}

a:hover {
    text-decoration: none;
    color: #fa5bdd;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.4;
    color: #000;
    font-weight: 400;
}

/*? NAV */

.ftco-navbar-light {
    background: #fcfcfc !important;
    z-index: 3;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    /* position: fixed; */
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        position: relative;
    }
}

@media (min-width: 992px) {
    .ftco-navbar-light .navbar-brand {
        color: #000;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 13px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1 !important;
}

@media (min-width: 992px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(0, 0, 0, 0.7);
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fa5bdd;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fa5bdd;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.815) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.navbar-brand {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.navbar-brand small {
    font-size: 10px;
    letter-spacing: 6px;
    font-weight: 700;
    color: #fa5bdd;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #fa5bdd;
}

/*? NAV */

/*? Services INDEX */

.pricing-entry {
    border: 1px solid #f0f0f0;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: url(/img/bg-serеtificates.jpg);
}

@media (max-width: 767.98px) {
    .pricing-entry {
        margin-bottom: 4em;
    }
}

.pricing-entry>div {
    padding: 10px;
}

.pricing-entry h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.pricing-entry p .per {
    font-size: 12px;
}

.pricing-entry ul {
    margin: 0;
    padding: 0;
}

.pricing-entry ul li {
    list-style: none;
    padding: 10px 40px;
}

.pricing-entry .button {
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.pricing-entry .button .btn.btn-outline-primary {
    background: #fff;
    border: 1px solid #f0f0f0;
    color: #cccccc;
}

.pricing-entry:hover, .pricing-entry:focus {
    border: 1px solid #fa5bdd;
}

.pricing-entry:hover .button .btn.btn-outline-primary, .pricing-entry:focus .button .btn.btn-outline-primary {
    background: #fa5bdd !important;
    border: 1px solid #fa5bdd !important;
    color: #fff;
}

/*? Services INDEX */

/**? Our Work INDEX */

.work-entry {
    display: inline-block;
    overflow: hidden;
}

.work-entry img {
    transition: 1s;
    display: block;
}

.work-entry img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/**? Our Work INDEX */

/**? Serеtificates */

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/**? Serеtificates */

/**? Кнопки BTN */

.btn {
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 13px;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #fa5bdd;
    border: 1px solid #fa5bdd;
    color: #fff;
}

.btn.btn-primary:hover {
    border: 1px solid #fa5bdd;
    background: transparent !important;
    color: #fa5bdd;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #fa5bdd;
    background: transparent;
    color: #fa5bdd;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #fa5bdd;
    color: #fff;
}

.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

.btn.btn-white:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.btn.btn-white.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-width: 1px;
    color: #fff;
}

.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #fa5bdd;
}

.btn.btn-outline-black {
    border-color: black;
    background: none;
    border-width: 1px;
    color: #000;
}

.btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black:active {
    background: #000;
    border-color: #000;
    color: #fff;
}

/**? Кнопки BTN */

/**? ABOUT */

.about-text {
    font-weight: 400;
    font-size: 1.2rem;
}

/**? ABOUT */

/*? Gallery */

.photo {
    float: left;
    width: 33.333333%;
    padding: 10px;
    box-sizing: border-box;
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px solid #fa5bdd;
    box-sizing: border-box;
}

.photo a:hover {
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.photo a {
    display: block;
    position: relative;
}

.photo a:after {
    content: '';
    background: transparent url(/img/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.photo:hover>a:after {
    visibility: visible;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fa5bdd;
    text-align: center;
    margin: 10px;
}

#gallery {
    margin-bottom: 10px;
}

#gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

/*? Gallery */

/*? Table */

.table {
    width: 100%;
    font-size: 15px;
    font-weight:500;
}
@media (max-width: 400px) {  
    .table-sm {
        font-size:10px !important;
    }
}
/*? Table */


/*? Footer */

.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #252525;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ftco-footer .ftco-footer-widget h2:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '';
    width: 70px;
    height: 1px;
    background: #fa5bdd;
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: rgb(255, 255, 255);
}

.ftco-footer p {
    color: rgb(255, 255, 255);
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.651);
}

.ftco-footer a:hover {
    color: #fff;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

footer.ftco-footer.ftco-section.img {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*? Footer */

